@tailwind base; 
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f7f7f7;
}

/* 
.ql-editor {
  height: 400px;
  padding: 5px;
} */

.shadow-custom {
  filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.1));
}

.det{
  background-color: #ffffff;
}


/* TextEditor.css */
.text-editor-header {
  font-size: 3rem !important;
  font-weight: bold !important;
}

.text-editor-header-2 {
  font-size: 2rem !important;
  font-weight: bold;
}

.text-editor-header-3 {
  font-size: 1.4rem !important;
  font-weight: bold;
}

.text-editor-header-4 {
  font-size: 1rem !important;
  font-weight: normal;
}


.dot {
  width: 4px; /* Width of the dot */
  height: 4px; /* Height of the dot */
  border-radius: 50%; /* Make it circular */
  background-color: #000; /* Color of the dot */
  margin: 0 5px; /* Adjust the spacing */
}
